.d-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media screen and (max-width: 800px) {
    .d-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .d-grid{
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
}