.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    z-index: 1000;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    z-index: 1000;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.ReactModal__Content{
    width: 50% !important;
    inset: 1px !important;
    margin-top: 2rem !important;
}

@media (max-width: 900px){
    .ReactModal__Content{
        width: 80% !important;
    }
}

@media (max-width: 500px){
    .ReactModal__Content{
        width: 95% !important;
        /* height: 100%; */
    }
}