.add-btn:hover {
    background-color: rgb(75, 180, 180) !important;
    border: 1px solid rgb(75, 180, 180);
    color: white !important;
}
.add-btn {
    color: rgb(75, 180, 180) !important;
    border: 1px solid rgb(75, 180, 180) !important;
}

.action-icon{
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0rem 0.2rem;
    border-radius: 5px;
    border: 1px solid;
}

.action-icon:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

thead {
    border-radius: 5px !important;
    padding: 1rem !important;
}

.th-head {
    background-color: #2B3445 !important;
    color: white;
    padding: 1rem !important;
}

td{
    white-space: nowrap !important;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
}

tr:nth-of-type(even){
    background-color: #f7f7f8 !important;
}


th{
    text-align: center !important;
}

/* th:nth-of-type(even){
    text-align: center;
    background-color: #888d96 !important;
} */