.shop-container{
  max-width: 1300px;
  margin: auto;
  padding: 6rem 3rem;
}

@media screen and (max-width: 800px) {
  .shop-container{
    padding: 4rem 2rem;
  }

  .headline-1{
    font-size: 1rem !important;
  }

  h6{
    font-size: 0.9rem !important;
  }

  p{
    font-size: 0.8rem !important;
  }
}


@media screen and (max-width: 500px) {
  .h1-admin{
    font-size: 1.2rem !important;
  }
}
/* commands */
.user-commands-container {
  background-color: white;
  min-height: 80vh;
  margin: 0 1rem;
}

.commands-h1{
  font-size: 1.1rem !important;
  font-weight: 600;
  margin: 0 !important;
  padding: 0.8rem 1rem;
}

.user-command-details {
  text-decoration: none;
  color: white;
  background-color: rgb(75, 180, 180);
  padding: 0.5rem 2rem;
  font-weight: 600;
  transition: all 250ms;
  border-radius: 5px;
}

.user-command-details:hover{
  color: white;
  background-color: rgb(21, 141, 141);
}

/* command historique timeline */
.timeline{
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

.timeline > li {
  border: none !important;
  margin-bottom: 1rem;
  position: relative;
  width: 80%;
}

.timeline__icon{
  display: inline;
  font-size: 1.5rem !important;
}

.command-status--active-true::before{
  content: "";
  display: block;
  width: 3px;
  height: 55px;
  background-color: #7cb2c3;
  position: absolute;
  left: 9px;
  bottom: -22px;
}

.command-status--active-false::before{
  content: "";
  display: block;
  width: 3px;
  height: 55px;
  background-color: #2B3445;
  position: absolute;
  left: 9px;
  bottom: -22px;
}

.timeline span {
  display: block;
  width: 100%;
  padding: 0.1rem 0.2rem;
}

.command-status--active {
  color: white;
  background-color: #7cb2c3;
  font-size: 0.95rem;
}

.timeline-date{
  font-size: 0.8rem;
  margin: 0.1rem 0 0 2.2rem;
}

.delivered--active-true{
  /* background-color: rgb(75, 255, 255); */
  /* color: #2B3445; */
  color: #6dbd28;;
}