.panier-container {
  border-radius: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: #FFFFFF !important;
}

.panier-items{
  width: 50%;
}

.panier-items-details{
  min-height: 100px;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: #fff;
  /* box-shadow: 5px 5px 0px #F6F6F6; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.panier-items-details:nth-of-type(even) {
  border-top: 1px solid rgb(216, 219, 228);
  border-bottom: 1px solid rgb(216, 219, 228);
}

.panier-details button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.panier-details button .plus-icon {
  /* color: rgb(75, 180, 180) !important; */
  color: #2B3445 !important;
}

.detail-title {
  font-size: 0.9rem;
  font-weight: 600 !important;
  color: rgb(43, 52, 69);
}

.detail-text {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(125, 135, 156);
}

.detail-prix {
  font-weight: 600;
  font-size: 14px;
  color: rgb(75, 180, 180);
  letter-spacing: 1px;
}

.panier-details .disabled{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.panier-details button .plus-icon-disabled {
  color: rgb(125, 135, 156) !important;
}

.middle{
  /* flex: 1 0 0px; */
}

.right-cart{
  color: white;
  width: 35%;
}

.right-cart h6{
  font-weight: 600 !important;
}

@media (max-width: 1000px){
  .panier-container {
    width: 50% !important;
  }
}

@media (max-width: 650px){
  .panier-container {
    width: 90% !important;
  }
}